.header {
  display: flex;
  justify-content: flex-end;
  margin: -60px 0 20px 0;
  &Hide {
    margin-bottom: 20px;
    .dateRange {
      padding-top: 10px;
    }
  }
}

.labelDesc {
  padding-right: 10px;
}

.dateRange {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;

  :global(.ant-calendar-picker) {
    width: 220px;
  }
}

.dataList {
  background: #fff;
  padding: 0 10px 10px 10px;
  :global {
    .ant-tabs-bar {
      margin-bottom: 0;
    }
  }
}

// .tabs {}

:global {
  // .ant-tabs {
  //   &-bar {
  //     margin-bottom: 7px;
  //   }

  //   &-nav &-tab {
  //     padding: 6px 16px 6px 16px;
  //   }
  // }

  .ant-card-head {
    min-height: unset;
    padding-left: 20px;

    &-title {
      padding: 10px 0;
      font-size: 17px;
    }
  }
}

.tableContainer {
  margin-top: 40px;
  .dataList;
}

@media (max-width: 768px) {
  .hide {
    display: none;
  }

  .header {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
  }

  .dateRange {
    padding-top: 0px;
  }
}

.selectContainer {
  height: 32px;
  margin: 10px 0;
  display: flex;
  align-items: center;

  .title {
    text-align: right;
    padding-right: 10px;
    position: relative;
    min-width: 80px;

    &::before {
      content: '*';
      color: #e23;
      position: absolute;
      left: -8px;
      top: 1px;
    }
  }

  .selector {
    width: 120px;
  }
}
