.header {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 10px 0;
  .labelDesc {
    padding-right: 10px;
  }
  .dateRange {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    :global(.ant-calendar-picker) {
      width: 220px;
    }
  }
}

.dataList {
  background: #fff;
  padding: 10px;
}

.tableContainer {
  margin-top: 40px;
  .dataList;
}
