{
    "extends": "umi",
    "globals": {
        "APP_TYPE": true
    },
    "rules": {
        "experimentalDecorators": false,
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }]
    }
}