// @import '../../styles/theme.less';

.form {
  .required {
    &::before {
      display: inline-block;
      margin-right: 4px;
      color: #f5222d;
      font-size: 14px;
      line-height: 1;
      content: '*';
    }
  }
  &-item {
    // height: 38px;
    // margin: 0px 0 10px 0;
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;

    .title {
      text-align: right;
      padding-right: 10px;
      position: relative;
      width: 120px;
      line-height: 32px;
    }
    .showTitle {
      &::after {
        content: ':';
        position: absolute;
        right: 6px;
        top: 0px;
      }
    }

    .element {
      min-width: 100px;
      max-width: 600px;
      width: 100%;
      &Large {
        max-width: 600px;
      }
    }
    &-vertical {
      flex-direction: column;
      .title {
        text-align: left;
        width: auto;
      }
      .element {
        min-width: 100px;
        width: 100%;
      }
    }

    :global {
      .ant-form-explain {
        display: inherit;
        margin-top: 3px;
      }
      .has-error {
        .ant-form-explain {
          color: #e23;
          font-size: 12px;
        }
      }
      textarea.ant-input {
        max-width: unset;
      }
      .ant-input[disabled],
      .ant-input-affix-wrapper-disabled {
        color: rgba(0, 0, 0, 0.7);
        background-color: #fafafa;
      }
    }

    // .radio {
    //   display: block;
    //   height: 25px;
    //   line-height: 25px;
    // }
  }

  &-center {
    align-items: center;
  }
  .submit {
    margin-top: 40px;
  }
}

// .cardExtra {
//   .alignColumn;
// }
