.form {
  &-item {
    height: 32px;
    margin: 10px 0;
    display: flex;
    align-items: flex-start;

    .title {
      text-align: right;
      padding-right: 10px;
      position: relative;
      min-width: 70px;
      line-height: 32px;

      // &::before {
      //   content: '*';
      //   color: #e23;
      //   position: absolute;
      //   left: -8px;
      //   top: 1px;
      // }

      &::after {
        content: ':';
        position: absolute;
        right: 6px;
        top: 0px;
      }
    }

    .element {
      width: 180px;
      flex: 1;

      .block {
        clear: both;
        min-height: 22px;
        margin-top: -2px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 14px;
        line-height: 1.5;
        transition: color .3s cubic-bezier(.215, .61, .355, 1);
        padding-top: 4px;
        display: inherit;
      }
    }

  }

  .submit {
    margin-top: 20px;
  }

}
