.form {
  &-item {
    height: 32px;
    margin: 20px 0 10px 0;
    display: flex;
    align-items: flex-start;

    .required {
      &::before {
        display: inline-block;
        margin-right: 4px;
        color: #f5222d;
        font-size: 14px;
        line-height: 1;
        content: '*';
      }
    }

    .title {
      text-align: right;
      padding-right: 10px;
      position: relative;
      width: 90px;
      line-height: 32px;

      &::after {
        content: ':';
        position: absolute;
        right: 6px;
        top: 0px;
      }
    }

    .element {
      min-width: 200px;
      width: 80%;
    }

    :global {
      .ant-form-explain {
        display: inherit;
        margin-top: 0;
      }
      textarea.ant-input {
        max-width: unset;
      }
    }

    // .radio {
    //   display: block;
    //   height: 25px;
    //   line-height: 25px;
    // }
  }

  &-center {
    align-items: center;
  }
  .submit {
    margin-top: 40px;
  }
}

.code {
  :global {
    .CodeMirror {
      min-height: 700px;
    }
  }
}
