@import '~antd/lib/style/themes/default.less';
.light,
.dark {
  transition: width 0.3s, margin-left 0.3s;
  width: 0;
  background: transparent;
  border-radius: 0;
  :global(.ant-select-selection) {
    background: transparent;
  }
  input {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none !important;
    background: transparent;
  }
  &,
  &:hover,
  &:focus {
    border-bottom: 1px solid @border-color-base;
  }
  &.show {
    width: 210px;
    margin-left: 8px;
  }
}

@dark-text-color: #777;
.dark {
  input {
    color: @dark-text-color;
    &::-webkit-input-placeholder {
      color: @dark-text-color;
    }
  }
  border-bottom: 1px solid @dark-text-color;
  &:hover {
    border-bottom: 1px solid @primary-color;
  }
  &:focus {
    outline: none;
  }
  &.show {
    width: 95%;
    margin-left: 8px;
  }
  :global(.ant-input-search-icon) {
    color: @dark-text-color;
  }
}

.headerSearch {
  :global(.anticon-search) {
    cursor: pointer;
    font-size: 16px;
  }
  .input {
    .light;
  }
}
