.header {
  display: flex;
  justify-content: space-between; // width: 55%;
  .tips {
    .title {
      font-size: 24px;
    }
  }
}

.chartContainer {
  background: #fff;
}

.exCard {
  width: 100%;
  :global(.ant-card-head) {
    padding: 0 12px;
  }
  :global(.ant-card-head-title) {
    padding-bottom: 0;
  }
}