@import '~antd/lib/style/themes/default.less';

.header {
  display: flex;
  // margin: -70px 0 32px 44px;

  .dateRange {
    display: flex;
    // justify-content: flex-end;
    flex-direction: row;
    align-items: center;

    :global(.ant-calendar-picker) {
      width: 220px;
    }
  }
}

.setting {
  margin-top: -70px;

  .labelDesc {
    margin-right: 12px;
  }
}

.tableContainer {
  margin-top: 40px;
}

@media screen and (max-width: @screen-sm) {
  .setting {
    margin-top: 0;
  }

  :global {
    .echarts-for-react {
      min-height: 680px;
    }
  }
}
