.header {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 10px 0;
  .dateRange {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    :global(.ant-calendar-picker) {
      width: 220px;
    }
  }
}

.setting {
  margin-top: -40px;
  .labelDesc {
    margin-right: 12px;
  }
}

.tableContainer {
  margin-top: 40px;
}
