@import '~antd/lib/style/themes/default.less';

.content {
  margin: 12px 12px 0;
}

@media screen and (max-width: @screen-sm) {
  .content {
    // margin: 24px 0 0;
    margin: 10px;
  }
}

:global {
  .antd-pro-page-header {
    &-pageHeader &-breadcrumb {
      margin-bottom: 8px;
    }

    &-pageHeader {
      background: #fff;
      padding: 16px 0 0 16px;
      border-bottom: 1px solid #e8e8e8;
      height: 48px;
    }

    &-title {
      font-size: 20px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      margin-bottom: 16px;
    }
  }

  .ant-breadcrumb-separator {
    margin: 0 8px;
    color: rgba(0, 0, 0, 0.45);
  }
}
