.header {
  display: flex;
  justify-content: space-between; // width: 55%;
  .tips {
    .title {
      font-size: 24px;
    }
    .subTitle {
      text-align: center;
      margin: 10px 0;
    }
  }
  .search {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 10px 0;
  }
}

.exCard {
  :global(.ant-card-head) {
    padding: 0 12px;
  }
  :global(.ant-card-head-title) {
    padding-bottom: 0;
  }
}

.imgContent {
  width: 200px;
}

@media (max-width: 768px) {
  .hide {
    display: none;
  }
  .header {
    button {
      .hide;
    }
    .tips {
      .title {
        font-size: 16px;
      }
      .subTitle {
        margin: 5px 0;
      }
    }
    .search {
      .hide;
    }
  }
  .tblSetting {
    .hide;
  }
}
