@import '~antd/lib/style/themes/default.less';

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  margin: 0 0 10px 0;

  .tips {
    text-align: center;

    .title {
      font-size: 24px;
    }
  }

  .search {
    display: flex;
    justify-content: flex-end;
    height: 32px;
  }
}

.exCard {
  :global {
    .ant-card-head {
      padding: 0;

      &-title {
        padding: 0;
      }
    }

    .ant-table {
      &-footer {
        padding: 0;
        background: #fff;
      }

      &-pagination {
        margin: 10px 0 4px 0;
      }
    }
  }
}

.imgContent {
  width: 200px;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .header {
    button {
      .hide;
    }

    .tips {
      .title {
        font-size: 20px;
      }

      .subTitle {
        margin: 5px 0;
      }
    }

    .search {
      .hide;
    }
  }

  .tblSetting {
    .hide;
  }
}

@media screen and (max-width: @screen-sm) {

  .action {
    .hide;
  }

  .header {
    justify-content: center;

    .title {
      font-size: 20px;
    }
  }

  :global {
    .ant-card-head {
      min-height: unset;

      .ant-card-head-title {
        padding-top: 0;
      }
    }
  }
}


.selectContainer {
  height: 32px;
  margin: 10px 0;
  display: flex;
  align-items: center;

  .title {
    text-align: right;
    padding-right: 10px;
    position: relative;

    &::before {
      content: '*';
      color: #e23;
      position: absolute;
      left: -8px;
      top: 1px;
    }
  }

  .selector {
    width: 120px;
  }
}
