.wrap {
}
.action {
  :global {
    .ant-radio-group {
      font-size: 10px;
    }
    .ant-radio-button-wrapper {
      &:first-child {
        border-radius: 12px 0 0 12px;
      }
      &:last-child {
        border-radius: 0 12px 12px 0;
      }
    }
  }
}
