.table-simple {
  width: 100%;
  margin: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;

  thead {
    cursor: pointer;
    text-align: left;

    tr {
      th {
        padding: 8px 8px 8px 5px;

        &:first-child {
          text-align: right;
          // border-right: 1px solid #F0F3F6;
        }
      }
      @media print {
        th {
          padding: 0;
          text-align: left;
          padding: 0;
          margin: 5px;
          font-size: 10px;
          &:first-child {
            text-align: left;
            padding-right: 10px;
          }
        }
      }
    }
  }

  tbody {
    cursor: pointer;

    tr {
      &:hover {
        background-color: #eef1f5;
      }

      &:last-child {
        border-bottom: none;
      }

      border-bottom: 1px solid #f2f5f8;

      td {
        color: #8896a0;
        vertical-align: middle;
        padding: 8px 8px 8px 5px;
        line-height: 1.42857;
        font-size: 14px;

        max-width: 260px;
        &:first-child {
          text-align: right;
          // border-right: 1px solid #F0F3F6;
        }
      }
      @media print {
        td {
          padding: '5px 0';
          max-width: 260px;
          text-align: left;
          padding: 0;
          margin: 5px;
          font-size: 10px;
          &:first-child {
            text-align: left;
            padding-right: 10px;
          }
        }
      }
    }
  }
  @media print {
    td,
    td,
    tr,
    tbody tr td {
      color: #000;
    }
  }
}
