.table-simple {
  width: 100%;
  margin: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;

  thead {
    cursor: pointer;
    text-align: left;

    tr {
      th {
        padding: 8px 8px 8px 5px;

        &:first-child {
          text-align: right;
          // border-right: 1px solid #F0F3F6;
        }
      }
    }
  }

  tbody {
    cursor: pointer;

    tr {
      &:hover {
        background-color: #eef1f5;
      }

      &:last-child {
        border-bottom: none;
      }

      border-bottom: 1px solid #f2f5f8;

      td {
        color: #8896a0;
        vertical-align: middle;
        padding: 8px 8px 8px 5px;
        line-height: 1.42857;
        font-size: 14px;

        &:first-child {
          text-align: right;
          // border-right: 1px solid #F0F3F6;
        }
      }
    }
  }
}
