/*
black 主题
*/
@dark: #141414;
@dark-mid: #414141;
@dark-light: #525252;
.body-wrap-dark {
  .ant-card {
    background: @dark;
  }
  .ant-legacy-form-item-label > label {
    color: #aaa;
  }

  /*
  table sheet 
  */
  .htContextMenu table.htCore {
    td {
      background: #2b2b2b;
      &.current {
        background: @dark-mid;
      }
      &.htDisabled:hover {
        background: @dark-mid;
      }
    }
  }

  .htDropdownMenu table {
    &.htCore {
      td {
        background: @dark;
        &.htCustomMenuRenderer {
          background: @dark;
        }
      }
    }
    tbody tr td.htDisabled:hover {
      background: @dark-mid;
    }
  }
  .htDropdownMenu table tbody tr td.current {
    background: @dark-mid;
  }
  .htFiltersConditionsMenu table tbody tr td {
    background: @dark-mid;
    &.current {
      background: @dark-light;
    }
  }
  .handsontable {
    .htUISelectCaption {
      background: @dark-mid;
      &:hover {
        background: @dark-mid;
      }
    }
    .htUIMultipleSelect {
      input,
      .handsontable .htCore td:hover {
        background: @dark-mid;
      }
    }
    th {
      background: @dark-mid;
      color: #eee;
    }
    thead,
    tbody {
      th {
        &.ht__active_highlight,
        &.ht__highlight {
          background: @dark-light;
          background-color: @dark-light;
          color: #aaa;
        }
      }
    }
  }

  .footer {
    color: #aaa !important;
  }

  // scroll bar
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #242424;
  }

  ::-webkit-scrollbar-thumb:vertical {
    background-color: #333;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    width: 12px;
    background-color: #333;
  }

  // react-dnd
  .rst {
    &custom__highlight {
      background: @dark-mid;
    }
    &__moveHandle {
      background-color: @dark-light;
    }

    &__rowContents {
      background-color: @dark-mid;
    }
  }

  /*
  login
  */

  .loginMain {
    background: @dark;
  }

  .configDemo {
    &Link,
    &Desc {
      background: @dark-light!important;
    }
  }

  // ant table
  .ant-table {
    background: unset;
    &-placeholder,
    &-footer {
      background: unset;
    }
    &-tbody > tr:hover:not(.ant-table-expanded-row) > td {
      background: @dark-light;
    }
    thead > tr > th {
      background: unset;
    }
    tr,
    th,
    td,
    &-small,
    &-content,
    &.ant-table-bordered thead > tr > th {
      border-color: @dark-light;
    }
  }

  .ant-legacy-form-item-label > label {
    color: rgba(255, 255, 255, 0.85);
  }
  .ant-form-explain,
  .ant-form-extra {
    color: rgba(255, 255, 255, 0.45);
  }
  .ant-input-affix-wrapper .ant-input-prefix,
  .ant-input-affix-wrapper .ant-input-suffix {
    color: rgba(255, 255, 255, 0.65);
  }
  .ant-table {
    table,
    th {
      color: rgba(255, 255, 255, 0.65);
    }
    thead th.ant-table-column-has-sorters:hover,
    &-tbody > tr:hover:not(.ant-table-expanded-row) > td,
    td.ant-table-column-sort,
    &-filter-trigger-container {
      background: @dark-mid;
      &:hover,
      &-open {
        background: @dark-mid;
      }
    }
    &-filter-dropdown {
      background: @dark;
    }
    &-footer {
      color: rgba(255, 255, 255, 0.65);
    }
  }
  .ant-dropdown-menu {
    background: @dark;
    &-item-selected {
      background: @dark-mid;
    }
  }
  .ant-col {
    ul {
      li {
        &:hover {
          background: @dark-mid;
        }
      }
    }
  }
  .at-menu-item {
    &-selected,
    &-active {
      background: @dark;
    }
  }
  .has-error .ant-input-affix-wrapper .ant-input {
    background-color: @dark-light;
  }
  .handsontable {
    tr,
    tbody,
    table,
    td {
      background: @dark;
    }
  }
}

// .ant-dropdown {
//   li {
//     color: rgba(255, 255, 255, 0.85);
//     a {
//       color: unset;
//     }
//   }
// }
