.header {
  // position: fixed;
  width: 100%;
  .logo {
    width: 160px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
  }
  .menu {
    line-height: 64px;
  }
}

@media print {
  .header {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide {
    display: none;
  }
  .header {
    padding: 0 10px;
    .logo {
      .hide;
    }
  }
}