@import '~antd/lib/style/themes/default.less';

.clear {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
}

@media screen and (max-width: @screen-sm) {
  .footer {
    margin: 10px 0;
  }
}
